.navbar {
    justify-content: center;
    align-items: center;
    background: none;
    padding: 20px 0px;
    box-shadow: none;
}

.navigation {
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
}