:root {

    // Colors
    --color-primary: #070F29;
    --color-secondary: #CBEBAD;
    
    --color-black: #000000;
    --color-white: #FFFFFF;
    
    --color-divider: #c0c0c0;

    // Fonts
    --font-primary: 'Open Sans', sans-serif;

    // Spacers
    --margin-xs: 0.25rem;
    --margin-s: 1rem;
    --margin-m: 2rem;
    --margin-l: 4rem;
    --margin-xl: 8rem;

    // Font sizes
    --size-h1: 50px;
    --size-h2: 46px;
    --size-h3: 27px;
    --size-h4: 22px;
    --size-lead: 27px;
    --size-body: 18px;
    --size-body2: 14px;

    --size-mobile-h1: 38px;
    --size-mobile-h2: 34px;
    --size-mobile-h3: 27px;    
    --size-mobile-h4: 22px;
    --size-mobile-lead: 18px;
    --size-mobile-body: 16px;
    --size-mobile-body2: 14px;

    // Container settings
    --padding-side: 4rem;
    --padding-side-tablet: 2rem;
    --padding-side-mobile: 1rem;

    --contained-width-standard: 1400px;
    --contained-width-small: 1000px;
    --contained-width-extra-small: 850px;

}



* {
    font-family: var(--font-primary);
    margin: unset;
    box-sizing: border-box;
}


body.desktop { .hide-desktop {display: none} }

body.tablet {
    --padding-side: var(--padding-side-tablet);
    .hide-tablet {display: none}
}

body.mobile {
    --padding-side: var(--padding-side-mobile);
    .hide-mobile {display: none}
}


.contained {
    max-width: calc(var(--contained-width-standard) + var(--padding-side) * 2);
    margin: auto;
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);

    &.small {
        max-width: calc(var(--contained-width-small) + var(--padding-side) * 2);
    }

    &.extra-small {
        max-width: calc(var(--contained-width-extra-small) + var(--padding-side) * 2);
    }
}






// Standard Spacer
.spacer, .divider {
    &.xl {height: var(--margin-xl)}
    &.l {height: var(--margin-l)}
    &.m {height: var(--margin-m)}
    &.s {height: var(--margin-s)}
    &.xs {height: var(--margin-xs)}

    &.wxl {width: var(--margin-xl)}
    &.wl {width: var(--margin-l)}
    &.wm {width: var(--margin-m)}
    &.ws {width: var(--margin-s)}
    &.wxs {width: var(--margin-xs)}

    &.fill {flex: 1;}

    &.divider {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            top: 50%;
            left: 0;
            height: 1px;
            background: var(--color-divider);
        }
    }
}




/* === 1. Fonts and Types === */

h1, .h1 {
    font-size: var(--size-h1);

    .mobile & {
        font-size: var(--size-mobile-h1);
    }
}

h2, .h2 {
    font-size: var(--size-h2);

    .mobile & {
        font-size: var(--size-mobile-h2);
    }
}

h3, .h3 {
    font-size: var(--size-h3);

    .mobile & {
        font-size: var(--size-mobile-h3);
    }
}

h4, .h4 {
    font-size: var(--size-h4);

    .mobile & {
        font-size: var(--size-mobile-h4);
    }
}

p, .body, .p, li {
    font-size: var(--size-body);

    .mobile & {
        font-size: var(--size-mobile-body);
    }
}

.body-2, .p-2, p.small, .body.small, .p.small {
    font-size: var(--size-body2);

    .mobile & {
        font-size: var(--size-mobile-body2);
    }
}

.bold {
    font-weight: bold;
}


.lead, .lead p {
    font-size: var(--size-lead);

    .mobile & {
        font-size: var(--size-mobile-lead);
    }
}
